title: 2020 is here
date: 2020-01-06 20:47
tags: news, blog
---
<p>
Another year passed and with it we are in a new decade. 
</p>

<p>
The thing with decades and years and centuries and millenniums is that
they are just breaking points &#x2013; a time for introspection to gather
thoughts and tools for the years to come. Is it just me or was that
last decade a bit of a mess?
</p>

<div id="outline-container-orgf061925" class="outline-2">
<h2 id="orgf061925">World</h2>
<div class="outline-text-2" id="text-orgf061925">
<p>
Let me expand to see what I mean. The things of importance that
happened in this decade, as imprinted in my mind, are all relatively
panic-related, psy-ops kind of procedures. For things that affected me
directly, or at least troubled me enough to remember them now we have:
</p>

<ol class="org-ol">
<li>Economic crisis in Greece and Europe in general</li>
<li>Arab Spring and all the war related events in Arab countries, ISIS</li>
<li>The annexation of Crimea</li>
<li>The oil spill at the Gulf of Mexico</li>
<li>Fires destroying a great part of the Amazon rain-forest</li>
<li>The Occupy movements that went away as fast as they appeared</li>
<li>The rise of social media leading to events like Gamergate and
then the election of Donald Trump as POTUS</li>
<li>The refugee crisis in Europe</li>
<li>Sexual harassment reports, in a wide spectrum including Weinstein,
Epstein and such</li>
<li>Brexit</li>
<li>Panama papers, Paradise papers, leaks everywhere that led to
nothing in the end</li>
<li>Julian Assagne was arrested after years of living in the embassy
of Ecuador in London.</li>
<li>The end of an era in Free Software with the resignation of RMS</li>
<li>The SJW movement and the opposition in the form of alt-right</li>
<li>The ecological grassroots movements like XR in the UK and Greta
Thunberg</li>
</ol>


<p>
And then we start the year with an execution of Iran's general by
the USA. Things are not going really well.
</p>

<p>
The listing above is not in any way exclusive, it's just some events
that I can recall easily as being the pillars of the last decade. What
the heck did happen in the world? It's like this whole decade was a
huge crisis, but on the other hand it feels like nothing
happened. What's going on?
</p>

<p>
At least some issues are now open, like the treatment of
marginalized groups and ways to empower them and such. I fully
support these movements, even if in my opinion sometimes the can
get obnoxious. The cancel culture is a part of this field. I agree
with the issues, I'm not in favor of the outrage culture, the
leftism as defined by Ted Kaczynski. It's good to have the issues
on the table though, at least for now. We should seek resolutions
in this decade, and strike in the heart of the problem creating
such.
</p>
</div>
</div>

<div id="outline-container-orgf599cb9" class="outline-2">
<h2 id="orgf599cb9">Tech</h2>
<div class="outline-text-2" id="text-orgf599cb9">
<p>
In technology this decade was the total "business-ification" of the
Internet and the move away from personal computing devices. SaSS
and such software, mobile devices that are useless without network
connections, social media psy-ops. Adware everywhere.
</p>

<p>
What happened, in my view, is the tech world moved away from the
concept of personal computing and more into business
operations. Almost all buzzwords of the last decade are stuff used
to make developing in easier for enterprises. We have DevOps, we
have CI. The personal computing space now seems to be communicating
with APIs even though we have in our pockets computers with lot's
of power.
</p>

<p>
At the same time we have the big breakthrough of "Open Source" as
an enterprise buzzword. 
</p>
<blockquote>
<p>
Microsoft 💔 Linux
</p>
</blockquote>

<p>
Permissive licenses, new models like Open Core, Chrome OS. 
</p>

<p>
What I feel is a gray area is the modern incarnation of Artificial
Intelligence as Machine/Deep Learning. While the methods developed
could prove to be of utmost value and a lot of them are developed
in Free Software projects, the data used to train the algorithms is
owned by Google, Amazon, Microsoft, Facebook and such companies
that have showed their true colors the last decade. We need to
create ways to have access or gather data, to train algorithms that
are in favor of the commons. The big conglomerates have already
started to use them in ways that are against the people &#x2013; killing
drones, research of fossil fuel reserves, psychological warfare
campaigns. This is a challenge for people of the new decade. We
need to create our own tools and infrastructures that will serve
our needs and not the ones of the 1%.
</p>

<p>
It's not all bad though. We have the first big wins in
decentralized software/social media with <a href="https://activitypub.rocks">ActivityPub</a> and it's
famous implementations like Mastodon, Pleroma, Peertube. There are
huge possibilities in this stuff and some great work is happening
right now, so I can't wait to see more. <a href="https://ipfs.io">IPFS</a> is also a big
interesting thing, I think that I will offer my blog through IPFS
this year.
</p>

<p>
The concept of functional package managers like <a href="https://nixos.org/">Nix</a> and <a href="https://guix.gnu.org">Guix</a> is
also something really interesting. Personally I follow closely
Guix's development because it's in <a href="https://guile.gnu.org">Guile Scheme</a> and also it's
completely Free Software.
</p>
</div>
</div>

<div id="outline-container-org4aaf883" class="outline-2">
<h2 id="org4aaf883">Hopes for the new decade</h2>
<div class="outline-text-2" id="text-org4aaf883">
<p>
What I would want for the new year/decade?
</p>

<p>
I want the natural environment to be thriving and not destroyed by
humanity's activities. I want knowledge and information to be
freely available. I want people to be excellent to each other, to
let others freely express themselves and to empower and be
empowered. I want to hear of less conflicts and more constructive
cooperation. 
</p>

<p>
That's all! Happy new year.
</p>
</div>
</div>
