title: A Mastodon/Pleroma bot in Common Lisp
date: 2018-12-23 00:28
tags: @tech, cl
---
<p>
I've been trying for long to get more involved with Common Lisp as
I've felt for quite some time that it's a language with a very nice
balance of expressiveness and practicality. Together with the great
experience of developing interactively with slime and the huge
collection of libraries that exist I think that delving in Common Lisp
will be pretty exciting.
</p>

<p>
After having read Practical Common Lisp (although not yet fully
digested the knowledge) and having solved some <a href="https://gitlab.com/bendersteed/advent-of-code">Advent of Code</a>
challenges I thought about writing a bot for announcing my blog-posts
in fediverse and specifically in <a href="https://pleroma.soykaf.com/">https://pleroma.soykaf.com/</a>. After
some research I found this <a href="https://gkbrk.com/2018/08/mastodon-bot-in-common-lisp/">blog-spot</a> that gave a lot of info on
achieving almost the same goal I had.
</p>

<p>
The base for the bot is two of <a href="https://github.com/Shinmera/">Shinmera's</a> libraries, and drakma:
</p>
<ul class="org-ul">
<li><a href="https://github.com/Shinmera/tooter">tooter</a>, a library that implements the Mastodon REST Api (that is
compatible with the one from pleroma)</li>
<li><a href="https://github.com/Shinmera/plump">plump</a>, a great parser for HTML/XML like markups</li>
<li><a href="https://edicl.github.io/drakma/">drakma</a>, a full-featured HTTP client</li>
</ul>

<p>
The above libraries constitute a great foundation for creating any
kind of bot for the fediverse. The code for my bot can be found <a href="https://gitlab.com/bendersteed/pleroma-bot">here</a>
and is quite easy to adapt in a series of ways to achieve different
results.
</p>

<p>
Then with cron we can run it once every day by executing:
</p>
<div class="org-src-container">
<pre class="src src-bash">sbcl --eval <span class="org-string">"(ql:quickload 'pleroma-bot)"</span> --eval <span class="org-string">"(quit)"</span>
</pre>
</div>

<p>
Common Lisp starts to steal my mind!
</p>
