title: A new look, v0.5 of this blog
date: 2020-02-20 23:47
tags: @tech, blog
---
<p>
As you can hopefully see, I did a redesign of my blog. Hope everyone
likes it! 
</p>

<p>
For styling I really like using <a href="https://picnicss.com">picnic CSS</a>, since it's really
lightweight and provides some nice elements and handling of grids. Now
I'm also using <a href="https://fontawesome.com">font awesome</a> for some icons.
</p>

<p>
Next goals for the blog is to implement some kind of client side
search capabilities, implementing webmentions and some other niceties.
To be honest, right now I'm pretty happy with this blog. I have some
drafts around so I think I'll do some more posts later this week.
</p>

<p>
Anyway that's all for now!
</p>

<p>
🐒
</p>
