title: Music monday 1 --  Galaxie 500
date: 2018-11-12 19:32
tags: @musicmonday, music
---
<p>
I intend to do a music of the week series, every Monday I will blog
about one of my current and future favorite bands/artists. I would
also like to maybe create a mix-tape every now and then, a thing I
really miss since my early teens. Although then I used a real cassette
and not a list of digital files.. 
<b>Maybe I'll look around for a tape recorder..</b>
</p>

<p>
Anyway enough with sweet nostalgia.
For the first week's band I choose Galaxie 500. I got to this band
under pretty strange circumstances. I listened to them first time
searching for warmth. That was how we (and we know who we were) went
on to walk aimlessly till we got to a friend's house that had some
air-condition and I was pretty pissed and all. But we got there and
then there is this video on, dreamy clouds and all, but this is the
band for another post.
</p>

<p>
So we got there and I was almost not talking to anyone. But as the
night went on and the algorithms of youtube went on and on, I was
feeling warmer in the body and inside and I was clearing and all, like
the light was getting smoother and pale and the sun was rising and I
was like "what would out mothers think of us?" but in a really sweet
way like the total misunderstanding you can have with those you love. 
</p>

<p>
Then maybe because we understood that the music brought us to paths we
couldn't expect we noticed the band playing in the background. It was
this song: 
</p>


<p>
{{&lt; youtube vb5UjtmyOdQ &gt;}}
</p>

<p>
All this beautiful memories and sad sad sad at the same time! That's
what these guys are. So I said enough with sweet nostalgia but I was
lying. 
</p>

<blockquote>
<p>
You know I am, the King of Spain
</p>

<p>
And I know that you can never tear me apart again
</p>

<p>
The empty hall I roam around
</p>

<p>
And my friends don't understand I'll never lose again
</p>
</blockquote>

<p>
{{&lt; youtube 5ftXavkXXRM &gt;}}
</p>

<blockquote>
<p>
I went alone down to the drugstore
</p>

<p>
I went in back and took a Coke
</p>

<p>
I stood in line and ate my Twinkies
</p>

<p>
I stood in line, I had to wait
</p>
</blockquote>

<p>
{{&lt; youtube k1ijNteBQwM &gt;}}
</p>

<p>
The last video has some awkwardly fitting footage from
Rajneeshees. Synchronicity is a thing!
</p>
