title: Cheap-ass way to enjoy some coldbrew coffee
date: 2018-12-02 00:50
tags: @DIY, coffee
---
<p>
Ever since I read a Cory Doctorow's novel (can't remember the title it
was the one that starts with some kid going to Burning Man) I wanted
to try coldbrew coffee. Even from my first tries I was really fond of
the taste and the caffeine hit this way of preparing coffee gives.
</p>

<p>
However the preparation was something that bothered me. In summary
coldbrew coffee is very simple. Just leave some ground coffee beans in
a jar with water for some time and then filter it. Depending on the
ratio of the water-coffee mixture you get either a strong brew that
needs to be diluted for consumption or one ready. The main problem
here is filtering. It is quite boring and messy. Here I present you a
cheap-ass way of dealing with this.
</p>

<div id="outline-container-org4734cdf" class="outline-2">
<h2 id="org4734cdf">How-to</h2>
<div class="outline-text-2" id="text-org4734cdf">
<p>
<img src="../assets/img/IMG_20181201_234421_HHT.cleaned.jpg" alt="IMG_20181201_234421_HHT.cleaned.jpg" />
So here are the stuff that we need, namely:
</p>
<ul class="org-ul">
<li>A knife and a spoon</li>
<li>A scissors is not important, I just used it to open the coffee package</li>
<li>Coffee and some coffee filters</li>
<li>An empty water bottle</li>
<li>Some food grade string or other material to tie the filters (I used
some plastic food grade stuff)</li>
</ul>

<p>
The whole procedure is quite easy:
<img src="../assets/img/IMG_20181201_234716_HHT.cleaned.jpg" alt="IMG_20181201_234716_HHT.cleaned.jpg" />
</p>
<ol class="org-ol">
<li>First cut the bottle as cleanly as possible in the half.</li>
<li>The assorted pieces will look like this:
<img src="../assets/img/IMG_20181201_234738_HHT.cleaned.jpg" alt="IMG_20181201_234738_HHT.cleaned.jpg" /></li>
<li>Then put some coffee in a filter and tie them like a tea filter:
<img src="../assets/img/IMG_20181201_235243_HHT.cleaned.jpg" alt="IMG_20181201_235243_HHT.cleaned.jpg" /></li>
<li>Then put some filters in the top half of the bottle and put the
tied coffee filters in.
 <img src="../assets/img/IMG_20181201_235500_HHT.cleaned.jpg" alt="IMG_20181201_235500_HHT.cleaned.jpg" /></li>
<li>Pour in some water
<img src="../assets/img/IMG_20181201_235914_HHT.cleaned.jpg" alt="IMG_20181201_235914_HHT.cleaned.jpg" /></li>
<li>Wait from 12-24 hours.</li>
<li>And here comes the magic! When we think are brew is ready we can
just open the bottles cap and the brew gets auto-filtered and
collected in the bottom half. Yay!</li>
</ol>
</div>
</div>

<div id="outline-container-org6abfe8f" class="outline-2">
<h2 id="org6abfe8f">Tips</h2>
<div class="outline-text-2" id="text-org6abfe8f">
<p>
Some tips here on how to get the best of your coldbrew coffee.
</p>
<ul class="org-ul">
<li>Find your favorite ratio. Play around with the water and coffee
quantities. I usually go for 1:4 coffee to water ratio and then
dilute 1:1 to consume.</li>
<li>Prefer coarsely ground beans, they seem to work better.</li>
<li>Don't store the brew in the plastic, use some glass jar.</li>
<li>Don't store for two long. I've found that after 4-5 days the taste
isn't as good.</li>
<li>Play around with different types of coffee beans.</li>
</ul>

<p>
So that's all for now and remember to TURN ON, BOOT UP, JACK IN.
</p>
</div>
</div>
