title: DIY pop filter
date: 2020-03-31 13:44
tags: @DIY, podcast
---
<p>
Since everyone is pretty much "socially distancing" these days, there
aren't lots of things to do.  Life is on pause.  At least what we can do
is spend some time on hobbies that we couldn't afford before. 
</p>

<p>
For me, on of such hobbies is <a href="https://theconspiracyclub.gr">"The Conspiracy Club"</a>, a podcast about
conspiracies (duh!) and other mysterious ideas and events.  Creating a
podcast is interesting on many different levels.  From recording, to
mixing, to distributing the episodes, a lot of technical decisions are
to be made.  Giorgos, the other co-host of the podcast and a friend of
many years, and I have decided to evolve while doing.  This means that
we start simple and try to improve incrementally based on the feedback
we get.
</p>

<p>
On the way to improve our recording quality, I experimented with a DIY
pop filter, mainly to check how it affects plosives and other
unwanted sound artifacts.  So here I want to share some simple steps
to create a pop filter from materials that can be found in most homes.
</p>

<p>
The main materials needed is some nylon mesh, in particular a pair of
old stockings, a plastic ring and some staples.  For the plastic ring I
used the cap of a yogurt package by removing an interior disk, leaving
at the same time space for the stapling of the nylon.
</p>

<p>
The result looks like this:
</p>


<div class="figure">
<p><img src="../assets/img/pop-filter01.jpg" alt="pop-filter01.jpg" />
</p>
</div>

<p>
Then with a pair of scissors I cut some nylon from the stockings and
stapled it across the ring. 
</p>


<div class="figure">
<p><img src="../assets/img/pop-filter02.jpg" alt="pop-filter02.jpg" />
</p>
</div>


<div class="figure">
<p><img src="../assets/img/pop-filter03.jpg" alt="pop-filter03.jpg" />
</p>
</div>

<p>
Then it was time for stabilizing the filter around my microphone.  I
had many ideas for a more permanent solution, but since this is mainly
experimental, I decided to take the simplest path and use some plain
wire.  I heat the wire for a bit in order to penetrate the plastic and
then created a base with it around the microphone.
</p>


<div class="figure">
<p><img src="../assets/img/pop-filter04.jpg" alt="pop-filter04.jpg" />
</p>
</div>


<div class="figure">
<p><img src="../assets/img/pop-filter05.jpg" alt="pop-filter05.jpg" />
</p>
</div>

<p>
The result may be not flattering but it is quite practical.  Based on
some testing it works quite adequately as a pop filter.  For next steps
it would be nice for the filter to be a bit more polished and have a
base that can be used for putting it on the microphone and removing it
easily. 
</p>

<p>
Anyway that's all for now!
</p>
