title: Emacs as a scripting platform
date: 2019-12-31 18:32
tags: @tech, emacs, haunt, hugo
---
<p>
 Emacs is not just an editor. It's a fully programmable shell through
which you can control almost all your computational needs, with a
focus on dealing with textual data. With this mindset it's not hard to
see how it can be used for a whole range of scripting needs.
</p>

<p>
Recently I migrated my blog from <a href="https://gohugo.io">hugo</a> to <a href="https://dthompson.us/projects/haunt.html">haunt</a>, as documented in a
<a href="https://bendersteed.tech/posts/migrating-from-hugo-to-haunt.html">previous post</a>. Since both haunt and hugo use markdown to generate the
posts, migrating was just to transform the TOML front-matter used in
hugo posts in the YAML one needed by haunt.
</p>

<p>
Quite boring stuff to do for around twenty files. This was easily solved
with some ugly Emacs Lisp in the <i>scratch</i> buffer.
</p>

<div class="org-src-container">
<pre class="src src-emacs-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">require</span> '<span class="org-constant">s</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">parse-hugo-post</span> <span class="org-rainbow-delimiters-depth-2">(</span>filename<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-doc">"Parse the data from a hugo post into an alist of title, data</span>
<span class="org-doc">and tags metadata with their values and content with the markdown</span>
<span class="org-doc">part. "</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">with-temp-buffer</span>
    <span class="org-string">"*hugo-post*"</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>insert-file-contents filename<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>search-forward <span class="org-string">"+++"</span> nil nil 2<span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">let</span> <span class="org-rainbow-delimiters-depth-4">(</span><span class="org-rainbow-delimiters-depth-5">(</span>content <span class="org-rainbow-delimiters-depth-6">(</span>buffer-substring <span class="org-rainbow-delimiters-depth-7">(</span>point<span class="org-rainbow-delimiters-depth-7">)</span> <span class="org-rainbow-delimiters-depth-7">(</span>point-max<span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span>
      <span class="org-rainbow-delimiters-depth-5">(</span>title <span class="org-rainbow-delimiters-depth-6">(</span><span class="org-keyword">progn</span> <span class="org-rainbow-delimiters-depth-7">(</span>search-backward <span class="org-string">"title = "</span><span class="org-rainbow-delimiters-depth-7">)</span>
            <span class="org-rainbow-delimiters-depth-7">(</span>s-chop-suffix <span class="org-string">"\""</span>
                       <span class="org-rainbow-delimiters-depth-8">(</span>s-chop-prefix <span class="org-string">"title = \""</span>
                              <span class="org-rainbow-delimiters-depth-9">(</span>s-chomp <span class="org-rainbow-delimiters-depth-1">(</span>thing-at-point 'line<span class="org-rainbow-delimiters-depth-1">)</span><span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span>
      <span class="org-rainbow-delimiters-depth-5">(</span>date <span class="org-rainbow-delimiters-depth-6">(</span><span class="org-keyword">progn</span> <span class="org-rainbow-delimiters-depth-7">(</span>search-forward <span class="org-string">"date = "</span><span class="org-rainbow-delimiters-depth-7">)</span>
               <span class="org-rainbow-delimiters-depth-7">(</span><span class="org-keyword">let*</span> <span class="org-rainbow-delimiters-depth-8">(</span><span class="org-rainbow-delimiters-depth-9">(</span>date-string <span class="org-rainbow-delimiters-depth-1">(</span>s-chop-prefix <span class="org-string">"date = "</span>
                              <span class="org-rainbow-delimiters-depth-2">(</span>s-chomp <span class="org-rainbow-delimiters-depth-3">(</span>thing-at-point 'line<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span><span class="org-rainbow-delimiters-depth-9">)</span>
                  <span class="org-rainbow-delimiters-depth-9">(</span>date-string-split <span class="org-rainbow-delimiters-depth-1">(</span>s-split <span class="org-string">"T"</span> date-string<span class="org-rainbow-delimiters-depth-1">)</span><span class="org-rainbow-delimiters-depth-9">)</span>
                  <span class="org-rainbow-delimiters-depth-9">(</span>len <span class="org-rainbow-delimiters-depth-1">(</span>length <span class="org-rainbow-delimiters-depth-2">(</span>cadr date-string-split<span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span><span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span>
             <span class="org-rainbow-delimiters-depth-8">(</span>concat <span class="org-rainbow-delimiters-depth-9">(</span>car date-string-split<span class="org-rainbow-delimiters-depth-9">)</span> <span class="org-string">" "</span>
                 <span class="org-rainbow-delimiters-depth-9">(</span>substring <span class="org-rainbow-delimiters-depth-1">(</span>cadr date-string-split<span class="org-rainbow-delimiters-depth-1">)</span> 0 <span class="org-rainbow-delimiters-depth-1">(</span>- len 9<span class="org-rainbow-delimiters-depth-1">)</span><span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span>
      <span class="org-rainbow-delimiters-depth-5">(</span>tags <span class="org-rainbow-delimiters-depth-6">(</span><span class="org-keyword">progn</span> <span class="org-rainbow-delimiters-depth-7">(</span>search-forward <span class="org-string">"tags = "</span><span class="org-rainbow-delimiters-depth-7">)</span>
               <span class="org-rainbow-delimiters-depth-7">(</span>s-join <span class="org-string">", "</span> <span class="org-rainbow-delimiters-depth-8">(</span>mapcar <span class="org-rainbow-delimiters-depth-9">(</span><span class="org-keyword">lambda</span> <span class="org-rainbow-delimiters-depth-1">(</span>s<span class="org-rainbow-delimiters-depth-1">)</span>
                          <span class="org-rainbow-delimiters-depth-1">(</span>s-chop-suffix <span class="org-string">"\"]"</span>
                                 <span class="org-rainbow-delimiters-depth-2">(</span>s-chop-prefix <span class="org-string">"[\""</span> s<span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span><span class="org-rainbow-delimiters-depth-9">)</span>
                        <span class="org-rainbow-delimiters-depth-9">(</span>s-split <span class="org-string">","</span>
                             <span class="org-rainbow-delimiters-depth-1">(</span>s-chop-prefix <span class="org-string">"tags = "</span>
                                    <span class="org-rainbow-delimiters-depth-2">(</span>s-chomp <span class="org-rainbow-delimiters-depth-3">(</span>thing-at-point 'line<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span><span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
      `<span class="org-rainbow-delimiters-depth-4">(</span><span class="org-rainbow-delimiters-depth-5">(</span><span class="org-string">"title"</span> . ,title<span class="org-rainbow-delimiters-depth-5">)</span>
        <span class="org-rainbow-delimiters-depth-5">(</span><span class="org-string">"date"</span> . ,date<span class="org-rainbow-delimiters-depth-5">)</span>
        <span class="org-rainbow-delimiters-depth-5">(</span><span class="org-string">"tags"</span> . ,tags<span class="org-rainbow-delimiters-depth-5">)</span>
        <span class="org-rainbow-delimiters-depth-5">(</span><span class="org-string">"content"</span> . ,content<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">write-haunt-post</span> <span class="org-rainbow-delimiters-depth-2">(</span>filename alist<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-doc">"Create a file that is populated by the title, date, tags and</span>
<span class="org-doc">content data that have been obtained from a hugo post."</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">with-temp-buffer</span>
    <span class="org-string">"*haunt-post*"</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>insert <span class="org-rainbow-delimiters-depth-4">(</span>concat <span class="org-string">"title: "</span> <span class="org-rainbow-delimiters-depth-5">(</span>assoc-default <span class="org-string">"title"</span> alist<span class="org-rainbow-delimiters-depth-5">)</span> <span class="org-string">"\n"</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>insert <span class="org-rainbow-delimiters-depth-4">(</span>concat <span class="org-string">"date: "</span> <span class="org-rainbow-delimiters-depth-5">(</span>assoc-default <span class="org-string">"date"</span> alist<span class="org-rainbow-delimiters-depth-5">)</span> <span class="org-string">"\n"</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>insert <span class="org-rainbow-delimiters-depth-4">(</span>concat <span class="org-string">"tags: "</span> <span class="org-rainbow-delimiters-depth-5">(</span>assoc-default <span class="org-string">"tags"</span> alist<span class="org-rainbow-delimiters-depth-5">)</span> <span class="org-string">"\n"</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>insert <span class="org-string">"---"</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>insert <span class="org-rainbow-delimiters-depth-4">(</span>assoc-default <span class="org-string">"content"</span> alist<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>write-file filename<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">migrate-posts</span> <span class="org-rainbow-delimiters-depth-2">(</span>input-dir output-dir<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">let</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>files <span class="org-rainbow-delimiters-depth-5">(</span>directory-files input-dir<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> for file in files
      do <span class="org-rainbow-delimiters-depth-4">(</span>write-haunt-post <span class="org-rainbow-delimiters-depth-5">(</span>concat output-dir<span class="org-rainbow-delimiters-depth-5">)</span>
                   <span class="org-rainbow-delimiters-depth-5">(</span>parse-hugo-post <span class="org-rainbow-delimiters-depth-6">(</span>concat input-dir file<span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
We just parse the appropriate data into an alist and then construct
the new file. So in about 10 minutes we have a not pretty but
practical script to get the job done.
</p>

<p>
This kind of low-entry programming is what really kept me into Emacs
all these years, together with all the wonderful infrastructure to
juggle text around. Another more involved example of this usage of
Emacs was recently presented in the <a href="https://media.emacsconf.org/2019/15.html">Emacsconf by Howard Adams</a>.  It is
a very interesting use-case that shows the power of Emacs Lisp and of
the Emacs' ecosystem.
</p>
