title: Executables in Common Lisp
date: 2018-12-24 22:58
tags: @tech, cl
---
<p>
So after completing (?) the Pleroma bot, I talked about in a previous
post I wanted to create a simple executable that would be
self-contained and run on any machine. If you have a Common Lisp
implementation on a computer it's trivial to run any program that is
bundled in a package, just load the package and then run the
appropriate entry function from the repl.
</p>

<p>
What happens if you don't have a Lisp installed?
</p>

<p>
Well most modern Lisps have the ability to dump the current Lisp
environment in way that can be "re-run". In this way we can create
executables that have the whole implementation in them and so they are
self-contained. On this builds <a href="https://www.xach.com/lisp/buildapp/">Buildapp</a>, so it configures and saves a
Lisp image in an executable file.
</p>

<p>
Buildapp works with SBCL or CCL. An easy way to get it is via
quicklisp. Fire an SBCL repl and run:
</p>
<div class="org-src-container">
<pre class="src src-common-lisp"><span class="org-rainbow-delimiters-depth-1">(</span>ql:quickload 'buildapp<span class="org-rainbow-delimiters-depth-1">)</span>
<span class="org-rainbow-delimiters-depth-1">(</span>buildapp:build-buildapp<span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>
<p>
Then you get a binary file, so put it somewhere in your PATH.
</p>

<p>
Next step is to build our executable image/file. 
</p>
<div class="org-src-container">
<pre class="src src-bash">buildapp --output pleroma-bot <span class="org-sh-escaped-newline">\</span>
--asdf-tree ~/quicklisp/ <span class="org-sh-escaped-newline">\</span>
--load-system pleroma-bot <span class="org-sh-escaped-newline">\</span>
--eval <span class="org-string">"(defun main (arg) (declare (ignore arg)) (pleroma-bot:run-bot))"</span> <span class="org-sh-escaped-newline">\</span>
--entry main
</pre>
</div>
<p>
So in order here we:
</p>
<ul class="org-ul">
<li>set the output file (where our executable will be created)</li>
<li>set the folder from where to load asdf systems</li>
<li>select which system to load</li>
<li>create a wrapping function to drop arguments cause buildapp always
passes command-line arguments to our program</li>
<li>set the "main" function of our executable</li>
</ul>

<p>
Quite easy, right? Happy Christmas everyone!
</p>
