title: Migrating from hugo to haunt
date: 2019-12-30 18:25
tags: @tech, haunt, hugo
---
<p>
This is the first actual post that happens on this space,
<a href="https://bendersteed.tech">https://bendersteed.tech</a>. Since I'm trying to move my infrastructure
to a personal machine, it made sense to stop using my <a href="https://bendersteed.gitlab.io">gitlab pages
blog</a> and host my blog here as well.
</p>

<p>
Since I wanted to migrate things, I also changed a few things on my
blogging flow. Recently I have fallen in love with a very simple but
not simplistic piece of software, <a href="https://dthompson.us/projects/haunt.html">haunt by David Thompson</a>.  Haunt is a
static site generator written in <a href="https://www.gnu.org/software/guile/">Guile</a> that provides just the basics
and is built around the concept of builders that use representations
of the notions of a site, a page or whatever needs to be built in
order to abstract the whole process. This in combination with Guile,
an implementation of Scheme, gives a lot of power in expressing the
process in many ways and extending the system with useful
capabilities. Since I contribute to <a href="https://guix.gnu.org">Guix</a> from time to time, the
familiarity I have built with Guile is also a big plus for me.
</p>

<p>
As an example, lately I'm working on a podcast, you can <a href="https://theconspiracyclub.gr">check it out
here</a> &#x2013; though keep in mind it's targeted at Greek speakers. One of
the needs was a JSON representation of my posts to be consumed by a
media player widget built with <a href="https://521dimensions.com/open-source/amplitudejs">Amplitude.js</a>. So very succinctly, I was
able to define a custom builder, leveraging the json module for Guile
to do what I needed:
</p>

<div class="org-src-container">
<pre class="src src-scheme"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">define</span> <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-function-name">make-episode-scm</span> post<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">let</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>enclosure <span class="org-rainbow-delimiters-depth-5">(</span>post-ref post 'enclosure<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    `<span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>name . ,<span class="org-rainbow-delimiters-depth-5">(</span>post-ref post 'title<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
      <span class="org-rainbow-delimiters-depth-4">(</span>info . ,<span class="org-rainbow-delimiters-depth-5">(</span>post-ref post 'summary<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
      <span class="org-rainbow-delimiters-depth-4">(</span>url . ,<span class="org-rainbow-delimiters-depth-5">(</span>enclosure-url enclosure<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
      <span class="org-rainbow-delimiters-depth-4">(</span>cover_art_url . ,<span class="org-rainbow-delimiters-depth-5">(</span>post-ref post 'cover<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
      <span class="org-rainbow-delimiters-depth-4">(</span>date . ,<span class="org-rainbow-delimiters-depth-5">(</span>date-&gt;string* <span class="org-rainbow-delimiters-depth-6">(</span>post-date post<span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">define</span> <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-function-name">make-episodes-json</span> site posts<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">let*</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>post <span class="org-rainbow-delimiters-depth-5">(</span>car posts<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
     <span class="org-rainbow-delimiters-depth-4">(</span>enclosure <span class="org-rainbow-delimiters-depth-5">(</span>post-ref post 'enclosure<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
    <span class="org-rainbow-delimiters-depth-3">(</span>make-page  <span class="org-string">"/assets/js/episodes.json"</span>
        `<span class="org-rainbow-delimiters-depth-4">(</span><span class="org-rainbow-delimiters-depth-5">(</span>songs . ,<span class="org-rainbow-delimiters-depth-6">(</span>list-&gt;vector
                 <span class="org-rainbow-delimiters-depth-7">(</span><span class="org-keyword">map</span> make-episode-scm
                  <span class="org-rainbow-delimiters-depth-8">(</span>take-up-to 10 <span class="org-rainbow-delimiters-depth-9">(</span>posts/reverse-chronological posts<span class="org-rainbow-delimiters-depth-9">)</span><span class="org-rainbow-delimiters-depth-8">)</span><span class="org-rainbow-delimiters-depth-7">)</span><span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
        scm-&gt;json<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
Then I just appended the builder to the builders list of my site
definition:
</p>

<div class="org-src-container">
<pre class="src src-scheme"><span class="org-rainbow-delimiters-depth-1">(</span>site <span class="org-builtin">#:title</span> <span class="org-string">"The Conspiracy Club"</span>
      <span class="org-builtin">#:domain</span> <span class="org-string">"theconspiracyclub.gr"</span>
      <span class="org-builtin">#:default-metadata</span>
      '<span class="org-rainbow-delimiters-depth-2">(</span><span class="org-rainbow-delimiters-depth-3">(</span>author . <span class="org-string">"bendersteed"</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span>
      <span class="org-builtin">#:readers</span> <span class="org-rainbow-delimiters-depth-2">(</span>list commonmark-reader texinfo-reader skribe-reader sxml-reader html-reader<span class="org-rainbow-delimiters-depth-2">)</span>
      <span class="org-builtin">#:builders</span> <span class="org-rainbow-delimiters-depth-2">(</span>list
          <span class="org-rainbow-delimiters-depth-3">(</span>blog <span class="org-builtin">#:prefix</span> <span class="org-string">"/episodes"</span>
            <span class="org-builtin">#:theme</span> tcc-haunt-theme<span class="org-rainbow-delimiters-depth-3">)</span>
          make-episodes-json
          index-page
          <span class="org-rainbow-delimiters-depth-3">(</span>atom-feed<span class="org-rainbow-delimiters-depth-3">)</span>
          <span class="org-rainbow-delimiters-depth-3">(</span>atom-feeds-by-tag<span class="org-rainbow-delimiters-depth-3">)</span>
          <span class="org-rainbow-delimiters-depth-3">(</span>static-directory <span class="org-string">"assets"</span> <span class="org-string">"assets"</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
and now every time I build the site I also build the appropriate
episodes.json file. As is apparent every builder in haunt is a function
that gets passed the site and posts records.
</p>

<p>
So I think you agree with me that, haunt is pretty neat. Before haunt
I used <a href="https://gohugo.io/">hugo</a> as my go-to static site generator, along with the
wonderful <a href="https://ox-hugo.scripter.co/">ox-hugo</a> package for emacs. The flow that these two created
was excellent and a major reason why I kept to blog at somewhat
frequent intervals. To learn more about what I mean, check out my
earlier post on hugo and ox-hugo <a href="https://bendersteed.tech/posts/how-this-blog-works.html">here</a>. Hugo on its own is pretty
great - it's fast, feature-full, has a great community and lots of
resources available to achieve everything. At the same time it seemed
a bit overkill for what I wanted it to do, and I think that I prefer
the minimalist approach by haunt.
</p>

<p>
In the end the only things that I'm missing at my current setup are
the ox-hugo package, multi-language support and the html support for
the guile-commonmark library that I use to handle my posts. For the
ox-hugo package I found the <a href="https://git.sr.ht/~jakob/ox-haunt">ox-haunt</a> package as a possible
candidate. Now it seems that it doesn't support my preferred way of
managing my blog, by having all the posts in a single org-mode file. I
have started working to add that functionality though, and it seems
quite easy. This would also solve the guile-commonmark issues since
ox-haunt emanates html code. For the multi-language issue I currently
have duct-taped it by using an emacs lisp program to combine separate
sites for every language. It would be interesting to implement a more
proper solution, though it works for now.
</p>

<p>
The migration of old posts was quite easy, with the use of some emacs
lisp code. I will expand on the migration process in a separate post,
since this one is quite long already!
</p>

<p>
So that's all for now, welcome to my new space on the web and I hope to
see you back.
</p>

<p>
🐢🐢🐢
</p>
