title: Parable of the polygons
date: 2018-11-10 15:56
tags: @social, share, bias
---
<p>
Recently found this <a href="https://ncase.me/polygons/">page</a>.
</p>

<p>
It's a gem!
Vi Hart and Nicky Case are always in for some cool creative stuff!
</p>

<p>
The message is passed, check it even if you don't fully agree with the
underlying message. It's a nice visualization of how our society gets
segregated by bias.
</p>
