title: The path ahead -- into the new decade
date: 2020-01-25 22:46
tags: @personal, blog, guix, emacs
---
<p>
This post is intended as a dumping of my ideas and my someday
org-file to look upon the projects that I would like to do in the
year 2020. The main reason is to relieve and at the same time
actualize the pressure these projects put upon me. By sharing them
with my, admittedly almost non-existent, audience I achieve the kind
of peer pressure that makes me strive. At the same time, a person
reading these lines may be interested in collaborating with me on
some of these projects. That would be awesome, since one of my major
resolutions is to be more actively communicating with other
similarly minded people.
</p>

<div id="outline-container-org94e685d" class="outline-2">
<h2 id="org94e685d">theconspiracyclub.gr</h2>
<div class="outline-text-2" id="text-org94e685d">
<p>
Along with Giorgos, a special friend of many years, we have actually
started a podcast, in Greek, researching and sharing our ideas on
conspiracy theories and mysteries. Taking a logical but also
sentimental approach we would like to share some insight on how we
believe in conspiracy theories, how these ideas thrive and spread and
at what part of our brain these ideas speak. Work on this project has
already started and you can check the early design at
<a href="https://theconspiracyclub.gr">https://theconspiracyclub.gr</a>. I hope we can keep this up, we just
recorded our fist episode and it was a lot of fun. Recording around 10
episodes would be a pretty achievable goal for this year!
</p>
</div>
</div>

<div id="outline-container-orgfcd8fb3" class="outline-2">
<h2 id="orgfcd8fb3">creating <a href="https://racket-lang.org/">racket</a> build-tools and importer for <a href="https://guix.gnu.org/">guix</a></h2>
<div class="outline-text-2" id="text-orgfcd8fb3">
<p>
I've started researching this issue late last year and it's pretty
interesting. At the moment some work has been done but much more needs
to happen. Since racket has become my go-to language for creating gui
apps, I would really like to have the ability to use the guix system
for managing and building my racket projects. There is inspiration
from the racket2nix project, so I hope we are at a good path. At the
same time the racket packaging system is quite unique at how it
handles various layers it defines so the proper abstractions to handle
them the way guix works need to be researched.
</p>
</div>
</div>

<div id="outline-container-orgeb96b82" class="outline-2">
<h2 id="orgeb96b82">petition application for Greece's issues</h2>
<div class="outline-text-2" id="text-orgeb96b82">
<p>
The political situation in Greece right now is pretty daunting. The
current government balances between classical conservatism,
neo-liberalism and alt-right. At the same time most Greeks are
de-sensitized to most political issues after more than ten years
of terroristic regression. Police has started to take an overly
aggressive stance against any action that promotes self-governance
and tries to dissolve any opposition movements, even orchestrating a
large operation to evacuate squats. I think it would favorable to
have a specific petition web service, that would share the public's
views on arising issues with the appropriate politicians, if at
least as a tool to exert some pressure on the current political
system. It's not much but it could help.
</p>
</div>
</div>

<div id="outline-container-org632da79" class="outline-2">
<h2 id="org632da79">contributions</h2>
<div class="outline-text-2" id="text-org632da79">
<p>
We are at the start of Web 3.0 (lol buzzwords). Whatever the
trends, I think that there is great work on decentralized
networks. Some projects I would like to understand and contribute
to are <a href="https://ipfs.io/">IPFS</a>, <a href="https://pleroma.social/">Pleroma</a> and the other <a href="https://activitypub.rocks/">ActivityPub</a> implementations. I
would like to start contributing to software like that since it has
become a major part of my computing.
</p>

<p>
<a href="https://www.gnu.org/software/emacs/">Emacs</a> is another piece of software I would like to contribute more
to. Things look a bit hard for a newcomer, but I hope this will be
the year that I will finally get a good grasp of the internals of
my beloved editor-operating system-kitchen sink.
</p>
</div>
</div>


<div id="outline-container-org086a7e5" class="outline-2">
<h2 id="org086a7e5">epilogue</h2>
<div class="outline-text-2" id="text-org086a7e5">
<p>
Now that I've spread these ideas out on my buffer, they look quite
a lot. Given that I don't have a great financial situation, so that
all the former projects will have to get cramped into an always
more demanding work routine, I think it won't be easy. This year I
will also consider getting a work as a full-time developer for the
first time. It was something I used to avoid so to grow in my own
preferences but I've started thinking that a professional setting
may help me grow more at this point and also enable me more
financially. Only time will tell. If your still reading and have an
interesting offer for work or collaboration you are welcome to
contact me! 
</p>

<p>
That's all for now.
</p>
</div>
</div>
