title: Prototyping hashtags with Common Lisp
date: 2019-08-09 01:02
tags: @tech, cl
---
<p>
Common Lisp is really fun to work with. In fact emacs &amp; slime is
the best development environment that I've ever worked with and
everytime I work on something I want to try and create it with CL.
</p>

<p>
Here I'll try to share my experiences with how I prototyped my
first working example of a simple web application.
</p>

<p>
Recently I participated in a Youth Exchange where we created some
image based propaganda around gender issues. There was then the
proposition to create a web application where we could share our
pictures and vote between us for what should become public. Plain
and simple, right?
</p>

<p>
The idea was to have people propose designs and communicate for
features. But since I was the only technical person on-board I was
responsible for the whole development. After some simple
specifications agreement I started.
</p>

<p>
It took me just 4 hours to have a prototype that worked pretty much
as we wanted. It included authenticating, image uploading to local
storage, searching through hashtags and a voting system to handle
whethere images would be local or not. Not a lot but still. And
then all the functionality was custom made. Plain old hunchentoot
and cl-who and cl-ppcre. Less than 500 LOC. For me that sounds
pretty productive.
</p>

<p>
We then had the issue of deploying the prototype for gathering
reviews. Thankfully there is this pretty good <a href="https://gitlab.com/duncan-bayne/heroku-buildpack-common-lisp">buildpack for heroku</a>
so it was really trivial to deploy there. Just two issues that I
encountered: First because the compile.lisp in the buildpack uses
CCL specific functions I had to fork it and and change it to one
that could also run with SBCL. The second issue was that it can't
recognise the entry-point for the app if it isn't loaded in the
CL-USER package. This was easily remedied by just putting the init
function there, although this isn't the best style.
</p>

<p>
Probably the most involved thing in the process was the hashtag
feature. Prototyping was a matter of a very simple model:
</p>

<div class="org-src-container">
<pre class="src src-common-lisp">   <span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">*hashtags*</span> '<span class="org-rainbow-delimiters-depth-2">()</span><span class="org-rainbow-delimiters-depth-1">)</span>

   <span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defvar</span> <span class="org-variable-name">*hashtag-scanner*</span>
   <span class="org-rainbow-delimiters-depth-2">(</span>cl-ppcre:create-scanner <span class="org-string">"(?i)#([A-Za-z0-9]*)"</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

   <span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">add-hashtag</span> <span class="org-rainbow-delimiters-depth-2">(</span>new-picture<span class="org-rainbow-delimiters-depth-2">)</span>
     <span class="org-rainbow-delimiters-depth-2">(</span><span class="org-keyword">let*</span> <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-rainbow-delimiters-depth-4">(</span>description <span class="org-rainbow-delimiters-depth-5">(</span>description new-picture<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
            <span class="org-rainbow-delimiters-depth-4">(</span>hashtags <span class="org-rainbow-delimiters-depth-5">(</span>cl-ppcre:all-matches-as-strings
                       *hashtag-scanner* description<span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span>
       <span class="org-rainbow-delimiters-depth-3">(</span><span class="org-keyword">loop</span> for hashtag in hashtags
          if <span class="org-rainbow-delimiters-depth-4">(</span>assoc hashtag *hashtags* <span class="org-builtin">:test</span> #'equal<span class="org-rainbow-delimiters-depth-4">)</span>
          do  <span class="org-rainbow-delimiters-depth-4">(</span>push new-picture <span class="org-rainbow-delimiters-depth-5">(</span>cdr <span class="org-rainbow-delimiters-depth-6">(</span>assoc hashtag *hashtags* <span class="org-builtin">:test</span> #'equal<span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span><span class="org-rainbow-delimiters-depth-4">)</span>
          else
          do <span class="org-rainbow-delimiters-depth-4">(</span>push <span class="org-rainbow-delimiters-depth-5">(</span>cons hashtag <span class="org-rainbow-delimiters-depth-6">(</span>list new-picture<span class="org-rainbow-delimiters-depth-6">)</span><span class="org-rainbow-delimiters-depth-5">)</span> *hashtags*<span class="org-rainbow-delimiters-depth-4">)</span><span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>

<span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">hashtag-pictures</span> <span class="org-rainbow-delimiters-depth-2">(</span>hashtag<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-doc">"Return a list of the pictures that match the given hashtag."</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>cdr <span class="org-rainbow-delimiters-depth-3">(</span>assoc <span class="org-rainbow-delimiters-depth-4">(</span>format nil <span class="org-string">"#~a"</span> hashtag<span class="org-rainbow-delimiters-depth-4">)</span> *hashtags* <span class="org-builtin">:test</span> #'equal<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
Yay association lists! Quite hacky stuff but then quite easy to
test functionality.
</p>

<p>
Then just have to transform text in our views:
</p>

<div class="org-src-container">
<pre class="src src-common-lisp"><span class="org-rainbow-delimiters-depth-1">(</span><span class="org-keyword">defun</span> <span class="org-function-name">links-for-hashtags</span> <span class="org-rainbow-delimiters-depth-2">(</span>description uri<span class="org-rainbow-delimiters-depth-2">)</span>
  <span class="org-doc">"Given a description string return the string with the appropriate</span>
<span class="org-doc">html links. Take notice that it removes the prescending #."</span>
  <span class="org-rainbow-delimiters-depth-2">(</span>cl-ppcre:regex-replace-all *hashtag-scanner* description
                              <span class="org-rainbow-delimiters-depth-3">(</span>format nil <span class="org-string">"&lt;a href=\"~a?tag=\\1\"&gt; \\&amp; &lt;/a&gt;"</span> uri<span class="org-rainbow-delimiters-depth-3">)</span><span class="org-rainbow-delimiters-depth-2">)</span><span class="org-rainbow-delimiters-depth-1">)</span>
</pre>
</div>

<p>
See the expressive power? Just few lines of code to test something
and trivialy extend a system. Add that with the developing
experience you get and for me Common Lisp is a winner. It may not
have the hugest ecosystem of libraries and stuff but it has mature
libraries and also it works nicely with <a href="https://guix.gnu.org/">guix</a> so I don't even use
<a href="https://www.quicklisp.org/beta/">quicklisp</a> anymore. Don't take that as a bad opinion though
quicklisp is great, not like npm(!).
</p>

<p>
The next step is probably creating a more modern interface though
for this I really like <a href="https://reagent-project.github.io/">Reagent</a> from the Clojure camp.</p>
