title: Who will guard the guards?
date: 2020-02-24 22:45
tags: @social, politics
---
<p>
Some strange world is emerging.
</p>

<p>
Recently the Assange case was brought under the radar of the UN
Special Rapporteur on Torture, Niel Melzer. There is an extensive
interview <a href="https://www.republik.ch/2020/01/31/nils-melzer-about-wikileaks-founder-julian-assange">here</a>, where he explains why he considers that Julian Assange
is very likely to be the victim of torture and also very likely to be
framed by the combined efforts of Sweden and the UK to be extradited
to US and be judged there at the notorious "Espionage Court".
</p>

<p>
Before you continue reading, please read that article. <a href="https://www.republik.ch/2020/01/31/nils-melzer-about-wikileaks-founder-julian-assange">Here is the
link again, in case you missed</a>. It's enlightening.
</p>

<p>
That's not something that would surprise some. But then these are
mostly the few that can read between the lines. The thing is we have a
war right now. A war on digging in the man's dirt.
</p>

<p>
Right now, out of the top of my head and forgeting about lot's of
other people, we have <a href="https://text.npr.org/s.php?sId=724133556">Chelsea Manning being illegally imprisoned</a>,
<a href="https://theintercept.com/2018/12/04/jeremy-hammond-stratfor-hack-solitary-confinment/">Jeremy Hammond still tortured in solitary confinement</a>, <a href="https://www.nytimes.com/2020/01/21/world/americas/glenn-greenwald-brazil-cybercrimes.html">Glenn Greenwald
prosecuted for reporting on the corruption behind the Bolsonaro
regime</a>, <a href="https://www.theguardian.com/us-news/ng-interactive/2019/sep/13/edward-snowden-interview-whistleblowing-russia-ai-permanent-record">Edward Snowden still self-exiled in Russia</a>.
</p>

<p>
The thing is, no-one is prosecuted for the corruption and crimes these
people revealed. These people are not heroes. They didn't come to save
us. They just did what a normal person would do. They revealed that's
something wrong is happening. And they were rewarded for it with
endless tortures.
</p>

<p>
It seems logical that we would reach this point. The net brought
endless possibilities to hide, to share, to communicate. The elite was
bound to be forced to take measures against this. 
</p>

<p>
That's the message of the society they try create. Mega-Corporations
and their puppet governments make it more and more clear. Be silent and
you'll be safe &#x2013; maybe. This their new mantra.
</p>

<p>
But I write this post to ask you to prove them wrong. Support these
people. Let's make our support so vocal that they can't ignore us
anymore. Shout it everywhere that knowing who the army kills with your
money is your business. That there is no democracy in their
confidentiality. That we stand for the right to know the truth and
choose what is better for us, than accepting their plans.
</p>

<p>
We have to take this fight, but we have to make it fun! No need to be
serious against their seriosity. Spread the word with laughter. 
</p>

<p>
The strange world that's emerging will be our world.
</p>


<div class="figure">
<p><img src="../assets/img/hero-edward-snowden-bradley-chelsea-manning-julian-assange-.jpg" alt="hero-edward-snowden-bradley-chelsea-manning-julian-assange-.jpg" />
</p>
</div>
